.movie-detail {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 60%;
    min-height: 500px;
    background: linear-gradient(
    rgb(189, 189, 189) 0%,
    rgb(235, 235, 235) 100%
  );
    text-align: center;
    margin: 30px auto;
    border-radius: 10px;
    padding-bottom: 26px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.img-detail{
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
}

.seperator {
    height: 2px;
    width: 97%;
    align-self: center;
    background-color: black;
  }